@import url(./fonts/fonts.css);

.root {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #000;
}

.root__container {
  max-width: 918px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 19px;
  box-sizing: border-box;
}

.root__header {
  margin-bottom: 36px;
}

.header {
  padding-bottom: 41px;
  position: relative;
  border-bottom: 1px solid #545454;
  box-sizing: border-box;
}

/* .header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #545454;
    opacity: .7;
    left: 0;
    bottom: 0;
} */

.header__logo {
  margin-top: 45px;
}

.logo {
  display: block;
  width: 142px;
  height: 33px;
  transition: opacity 250ms ease;
}

.logo:hover {
  opacity: .6;
}

.profile__info {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 47px;
}

.profile__img {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 26px;
}

.profile__name {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  row-gap: clamp(14px, 1.742919389978214vw, 16px);
  column-gap: clamp(10px, 1.96078431372549vw, 18px);
  align-items: center;
}

.profile__title {
  font-weight: 500;
  font-size: clamp(27px, 4.57516339869281vw, 42px);
  /* font-size: 42px; */
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 0;
}

.profile__subtitle {
  font-weight: 400;
  font-size: clamp(14px, 1.96078431372549vw, 18px);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

.profile__btn-edit-profile {
  width: clamp(18px, 2.61437908496732vw, 24px);
  /* height: auto; */
  aspect-ratio: 1/1;
  /* width: 24px; */
  /* height: 24px; */
  background: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: grid;
  position: relative;
  place-items: center;
  grid-row: 1/-1;
  grid-column: 2/-1;
  /* margin-top: 6px; */
  cursor: pointer;
  transition: opacity 250ms ease;
}

.profile__btn-edit-profile:hover {
  opacity: .6;
}


.profile__btn-edit-profile::before {
  content: '';
  position: absolute;
  width: clamp(7.5px, 1.089324618736383vw, 10px);
  height: auto;
  aspect-ratio: 1/1;
  background-image: url(../images/icon-edit.svg);
  background-size: cover;
}

.profile__btn-add-place {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  display: grid;
  position: relative;
  place-items: center;
  padding: 23px 73px;
  margin-left: auto;
  cursor: pointer;
  transition: opacity 250ms ease;
}

.profile__btn-add-place:hover {
  opacity: .6;
}


.profile__btn-add-place::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url(../images/icon-add.svg);
  background-size: cover;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  justify-content: space-between;
  gap: 20px 17px;
  padding-left: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 10px;
  overflow: hidden;
}

.card__text {
  background-color: #fff;
  padding: 25px 20px 31px 21px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 216px;
}

.card__like {
  display: block;
  width: 22px;
  height: 19px;
  background-size: cover;
  cursor: pointer;
  transition: background-image 250ms ease;
}

.card__like:hover {
  background-image: url(../images/like-hover.svg);
}

.card__like_disabled {
  background-image: url(../images/like-disabled.svg);
}

.card__like_active {
  background-image: url(../images/like-active.svg);
}

.card__like_active:hover {
  background-image: url(../images/like-active.svg);
}


.card__img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #545454;
  margin: 67px 0 60px;
}


.popup {
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup_opened {
  display: flex;
}

.root__popup {
  position: fixed;
  left: 0;
  top: 0;
}

.popup::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  z-index: -1;

}

.popup__container {
  padding: 34px 36px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: grid;
  position: relative;
}

.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 40px;
}

.popup__name {
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  padding: 10px 10px 10px 0;
  border: 0;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  margin-bottom: 20px;
}

.popup__name:focus {
  outline: none;
}

.popup__job {
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  padding: 10px 10px 10px 0;
  border: 0;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  margin-bottom: 49px;
}

.popup__name:focus,
.popup__job:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

.popup__btn {
  color: #fff;
  background: #000;
  border-radius: 2px;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  height: 50px;
  width: 358px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms ease;
  /* padding: 14px 124px 18px 125px; */
  /* box-sizing: border-box; */
}

.popup__btn:hover {
  background-color: rgb(0 0 0 / 80%);
}

.popup__close {
  position: absolute;
  background-image: url(../images/icon-close.svg);
  right: -42px;
  top: -42px;
  background-size: cover;
  width: 32px;
  height: 32px;
  cursor: pointer;
}



@media screen and (max-width:917px) {
  .card__title {
    max-width: clamp(216px, 34vw, 320px);
  }
}

@media screen and (max-width:768px) {

  .root__header {
    margin-left: -19px;
    margin-right: -19px;
  }

  .header__logo {
    margin-left: 27px;
  }

  .profile__info {
    flex-wrap: wrap;
    row-gap: 36px;
    justify-content: center;
    margin-bottom: 36px;
  }

  .profile__name {
    text-align: center;
  }

  .profile__btn-add-place {
    width: 100%;
  }

  .profile__btn-add-place::before {
    width: 16px;
    height: 16px;
  }

  .profile__btn-edit-profile {
    margin: 0;
  }

  .footer__copyright {
    margin: 48px 0 36px;
  }

  /* .header::after {
        width: clamp(320px, 100vw, 768px);
        width: clamp(97vw, 97.9vw, 100vw);
        margin-left: -19px;
    } */

}

@media screen and (max-width:618px) {
  .card__title {
    max-width: clamp(216px, 67vw, 509px);
  }
}

@media screen and (max-width:560px) {
  .popup__container {
    padding: 22px 25px;
  }

  .popup__title {
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 66px;
  }

  .popup__job {
    margin-bottom: 46px;
  }

  .popup__btn {
    font-size: 14px;
    line-height: 1.2;
    height: 46px;
    width: 238px;
    margin: 0 auto;
  }

  .popup__close {
    right: 0px;
    top: -36px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width:415px) {
  .profile__img {
    margin-right: 0;
  }

  .profile__name {
    width: 100%;
    justify-items: center;
    justify-content: center;
  }

  .profile__subtitle {
    grid-column: 1/-1;
  }
}

@media screen and (max-width:320px) {
  .logo {
    width: 103px;
    height: 24px;
  }

  .logo__img {
    width: 103px;
    height: 24px;
  }

  .header__logo {
    margin-left: 27px;
  }
}
