@import url(./fonts/fonts.css);

.root {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #000;
}

.root__container {
    max-width: 918px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 19px;
    box-sizing: border-box;
}

.root__header {
    margin-bottom: 36px;
}

.header {
    padding-bottom: 41px;
    position: relative;
    border-bottom: 1px solid #545454;
    box-sizing: border-box;
}

/* .header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #545454;
    opacity: .7;
    left: 0;
    bottom: 0;
} */

.header__logo {
    margin-top: 45px;
}

.logo {
    display: block;
    width: 142px;
    height: 33px;
    transition: opacity 250ms ease;
}

.logo:hover {
    opacity: .6;
}

.profile__info {
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 47px;
}

.profile__img {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 26px;
}

.profile__name {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    row-gap: clamp(14px, 1.742919389978214vw, 16px);
    column-gap: clamp(10px, 1.96078431372549vw, 18px);
    align-items: center;
}

.profile__title {
    font-weight: 500;
    font-size: clamp(27px, 4.57516339869281vw, 42px);
    /* font-size: 42px; */
    line-height: 1.15;
    margin-top: 0;
    margin-bottom: 0;
}

.profile__subtitle {
    font-weight: 400;
    font-size: clamp(14px, 1.96078431372549vw, 18px);
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}

.profile__btn-edit-profile {
    width: clamp(18px, 2.61437908496732vw, 24px);
    /* height: auto; */
    aspect-ratio: 1/1;
    /* width: 24px; */
    /* height: 24px; */
    background: transparent;
    border: 1px solid #fff;
    box-sizing: border-box;
    display: grid;
    position: relative;
    place-items: center;
    grid-row: 1/-1;
    grid-column: 2/-1;
    /* margin-top: 6px; */
    cursor: pointer;
    transition: opacity 250ms ease;
}

.profile__btn-edit-profile:hover {
    opacity: .6;
}


.profile__btn-edit-profile::before {
    content: '';
    position: absolute;
    width: clamp(7.5px, 1.089324618736383vw, 10px);
    height: auto;
    aspect-ratio: 1/1;
    background-image: url(../images/icon-edit.svg);
    background-size: cover;
}

.profile__btn-add-place {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    box-sizing: border-box;
    display: grid;
    position: relative;
    place-items: center;
    padding: 23px 73px;
    margin-left: auto;
    cursor: pointer;
    transition: opacity 250ms ease;
}

.profile__btn-add-place:hover {
    opacity: .6;
}


.profile__btn-add-place::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url(../images/icon-add.svg);
    background-size: cover;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    justify-content: space-between;
    gap: 20px 17px;
    padding-left: 0;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    overflow: hidden;
}

.card__text {
    background-color: #fff;
    padding: 25px 20px 31px 21px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    max-width: 216px;
}

.card__like {
    display: block;
    width: 22px;
    height: 19px;
    background-size: cover;
    cursor: pointer;
    transition: background-image 250ms ease;
}

.card__like:hover {
    background-image: url(../images/like-hover.svg);
}

.card__like_disabled {
    background-image: url(../images/like-disabled.svg);
}

.card__like_active {
    background-image: url(../images/like-active.svg);
}

.card__like_active:hover {
    background-image: url(../images/like-active.svg);
}


.card__img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.footer__copyright {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #545454;
    margin: 67px 0 60px;
}

@media screen and (max-width:917px) {
    .card__title {
        max-width: clamp(216px, 34vw, 320px);
    }
}

@media screen and (max-width:768px) {

    .root__header {
        margin-left: -19px;
        margin-right: -19px;
    }

    .header__logo {
        margin-left: 27px;
    }

    .profile__info {
        flex-wrap: wrap;
        row-gap: 36px;
        justify-content: center;
        margin-bottom: 36px;
    }

    .profile__name {
        text-align: center;
    }

    .profile__btn-add-place {
        width: 100%;
    }

    .profile__btn-add-place::before {
        width: 16px;
        height: 16px;
    }

    .profile__btn-edit-profile {
        margin: 0;
    }

    .footer__copyright {
        margin: 48px 0 36px;
    }

    /* .header::after {
        width: clamp(320px, 100vw, 768px);
        width: clamp(97vw, 97.9vw, 100vw);
        margin-left: -19px;
    } */

}

@media screen and (max-width:618px) {
    .card__title {
        max-width: clamp(216px, 67vw, 509px);
    }
}


/* @media screen and (max-width:691px) {

    .header::after {
        width: 97.8vw;
    }

}

@media screen and (max-width:659px) {

    .header::after {
        width: 97.7vw;
    }

}

@media screen and (max-width:659px) {

    .header::after {
        width: 97.7vw;
    }

} */
@media screen and (max-width:400px) {
    .profile__img {
        margin-right: 0;
    }

    .profile__name {
        width: 100%;
        justify-items: center;
        justify-content: center;
    }

    .profile__subtitle {
        grid-column: 1/-1;
    }
}

@media screen and (max-width:320px) {
    .logo {
        width: 103px;
        height: 24px;
    }

    .logo__img {
        width: 103px;
        height: 24px;
    }

    .header__logo {
        margin-left: 27px;
    }
}