.profile__subtitle {
  font-weight: 400;
  font-size: clamp(14px, 1.96078431372549vw, 18px);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
  grid-column: 1/-1;
}


@media screen and (max-width:900px) {
  .profile__subtitle {
    max-width: 460px;
  }
}

@media screen and (max-width:860px) {
  .profile__subtitle {
    max-width: 440px;
  }
}

@media screen and (max-width:820px) {
  .profile__subtitle {
    max-width: 420px;
  }
}

@media screen and (max-width:790px) {
  .profile__subtitle {
    max-width: 400px;
    grid-column: 1/-1;
  }
}

@media screen and (max-width:455px) {
  .profile__subtitle {
    max-width: 370px;
  }
}

@media screen and (max-width:430px) {
  .profile__subtitle {
    max-width: 350px;
  }
}

@media screen and (max-width:415px) {
  .profile__subtitle {
    max-width: 300px;
  }
}

@media screen and (max-width:360px) {
  .profile__subtitle {
    max-width: 280px;
  }
}

@media screen and (max-width:320px) {
  .profile__subtitle {
    max-width: 260px;
  }
}
